<div class="calendar-content-container">
    <form id="calendar-form" *ngIf="calendarForm" [formGroup]="calendarForm">
        <div class="calendar-input_field-container">
            <h2>Date of appointment</h2>
            <input type="date" formControlName="date" id="date_input" [min]="minDate" [max]="maxDate" (input)="onDateChange($event)">
        </div>
        <div *ngIf="calendarForm.get('date')!.invalid && calendarForm.get('date')!.touched" class="error-message">
            This field is required.
        </div>
    </form>
    <div class="calendar-box">
        <h3> {{ numDate }} </h3>
        <h4> {{ monthDate }} </h4>
    </div>
</div>