#page_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #F1F1F1;
}

#header {
    width: 100%;
    min-width: 415px;
}

#data_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vh;
    height: 100%;
}

.column-content {
    width: 100%;
}

@media (max-width: 845px) {
    #data_container {
        flex-direction: column;
    }
}

button {
    width: 120px;
    height: 35px;
    color: white;
    font-size: 1.2rem;
    background-color: #5fa966;
    box-shadow: 0px 4px 10px 0px #4a804f8d;
    border-radius: 15px;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

button:hover {
    background-color: #427046;
    box-shadow: 0px 4px 10px 0px #19361c4d;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 4px 10px 0px #19361ca2;
}