<div class="appointment-selector-container">
    <form id="appointment-selector-form" *ngIf="appointmentSelectForm" [formGroup]="appointmentSelectForm">
        <div class="appointment-subcontainer">
            <h2>Appointment</h2>
            <select id="appointment_type-input" formControlName="appointmentType" (change)="onSelectChange($event)">
                <option value="" disabled selected>Select</option>
                <option value="general">General</option>
                <option value="specialist">Specialist</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="appointment-subcontainer">
            <h2>Other</h2>
            <div class="textInputWrapper">
                <input class="textInput" type="text" formControlName="otherType" [id]="otherField_styleId" />
            </div>
            <div *ngIf="appointmentSelectForm.get('otherType')!.invalid && appointmentSelectForm.get('otherType')!.touched" class="error-message">
                This field is required (max 150 char).
            </div>
        </div>
    </form>
</div>
