<div class="appointment-selector-container">
    <div class="appointment-subcontainer">
        <h2>Appointment</h2>
        <select id="appointment_type-input">
            <option value="" disabled selected>Select</option>
            <option value="general">General</option>
            <option value="specialist">Specialist</option>
            <option value="other">Other</option>
        </select> 
    </div>
    <div class="appointment-subcontainer">
        <h2>Other</h2>
        <input type="text" name="other_type" id="othertype-input" disabled="true"> 
    </div>
</div>