<div class="user-data-container">
    <div class="data-input_field-container">
        <span><h2>Name</h2><h2 class="asterisk">*</h2></span>
        <input type="text" name="name" id="name_input">
    </div>
    <div class="data-input_field-container">
        <h2>Second Name</h2>
        <input type="text" name="secondName" id="secondName_input">
    </div>
    <div class="data-input_field-container">
        <span><h2>Surname</h2><h2 class="asterisk">*</h2></span>
        <input type="text" name="surname" id="surname_input">
    </div>
    <div class="data-input_field-container">
        <span><h2>ID</h2><h2 class="asterisk">*</h2></span>
        <input type="number" name="id" id="id_input" placeholder="xxxxxxxxxx">
    </div>
    <div class="data-input_field-container">
        <span><h2>Tel</h2><h2 class="asterisk">*</h2></span>
        <input type="tel" name="tel" id="tel_input" placeholder="123-4567890">
    </div>
    <div class="data-input_field-container">
        <h2>E-Mail</h2>
        <input type="email" name="email" id="email_input" placeholder="exampla@email.com">
    </div>
</div>